@model Loanda.Web.Models.Applicant.ApplicantViewModel
@{
    ViewData["Title"] = "Edit";
}
<div class="card">
    <h5 class="card-header">Edit Applicant</h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <form asp-controller="Book" asp-action="Create" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">EGN</span>
                        </div>
                        <input type="text" asp-for="EGN" class="form-control" aria-label="EGN" aria-describedby="inputGroup-sizing-default">
                        <span asp-validation-for="EGN" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Names</span>
                            </div>
                            <input type="text" asp-for="FirstName" class="form-control" aria-label="FirstName" aria-describedby="inputGroup-sizing-default">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                            <input type="text" asp-for="MiddleName" class="form-control" aria-label="MiddleName" aria-describedby="inputGroup-sizing-default">
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                            <input type="text" asp-for="LastName" class="form-control" aria-label="LastName" aria-describedby="inputGroup-sizing-default">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Birth date</span>
                        </div>
                        <input type="text" asp-for="DateOfBirth" class="form-control" aria-label="DateOfBirth" aria-describedby="inputGroup-sizing-default">
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Phone number</span>
                        </div>
                        <input type="text" asp-for="PhoneNumber" class="form-control" aria-label="PhoneNumber" aria-describedby="inputGroup-sizing-default">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@@</span>
                        </div>
                        <input type="text" asp-for="EmailAddress" class="form-control" placeholder="e-mail" aria-label="Username" aria-describedby="basic-addon1">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
                        </div>
                        <input type="text" asp-for="Address" class="form-control" aria-label="Address" aria-describedby="inputGroup-sizing-default">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">City</span>
                        </div>
                        <input type="text" asp-for="City" class="form-control" aria-label="City" aria-describedby="inputGroup-sizing-default">
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}