#map {
    height: 800px;
    width: 100%;
}

.title {
    text-align: center;
}

.section-title {
    text-align: center;
}

#sign-in-container {
    margin: auto;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.center-horizontal {
    float: none;
    margin: 0 auto;
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

.gauge {
    display: block;
    float: left;
    box-sizing: border-box;
    margin: 0 0 1% 0;
}

.size-1 {
    width: 20%;
}

.size-2 {
    width: 30%;
}

.size-3 {
    width: 48%;
}

.h-split {
    display: block;
    float: left;
    width: 1%;
    min-height: 100px;
}

.hide-it {
    display: none;
}

.logo_h {
    width: 5.5%;
    height: 5.5%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
