
@{
    ViewData["Title"] = "ChangePassword";
}

@model ChangePasswordViewModel
@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<head>
    <title>Loanda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../css/util.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">

    <style>
        #customPass {
            color: red;
            margin-left: 60px;
        }
    </style>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/images/loanda.png" alt="IMG">
                </div>
                <form class="login100-form validate-form">
                    <span class="login100-form-title">
                        Please change your password to log in.
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Please Insert Password:">
                        <input asp-for="CurrentPassword" class="input100" id="currPassword" type="password" name="password" placeholder="Current Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Type New Password: ">
                        <input asp-for="NewPassword" class="input100" id="newPassword" type="password" name="newPassword" placeholder="New Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Confirm New Password: ">
                        <input class="input100" id="confirmNewPassword" type="password" name="confirmNewPassword" placeholder="Confirm New Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div>
                        <span>
                            <span id="customPass"></span>
                        </span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="button" onclick="Check()" @*asp-controller="Home" asp-action="Login"*@>
                            Change password
                        </button>
                    </div>

                    <div class="text-center p-t-136">

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../vendor/bootstrap/js/popper.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="../vendor/tilt/tilt.jquery.min.js"></script>
    <script src="~/js/main.js"></script>

    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->


    <script>
        function Check() {
            let currentpassword = $("#currPassword").val();
            let password = $("#newPassword").val();
            let confirmpass = $("#confirmNewPassword").val();

            $.ajax(
                {
                    type: 'post',
                    url: "/register/changepassword",
                    data: {
                        'currPassword': currentpassword,
                        'newPassword': password,
                        'confirmNewPassword': confirmpass
                    },
                    success: function (result) {
                        if (result == null) {
                            window.location.replace("/Email/Index");
                        }
                        else {
                            $('#customPass').text(`${result}`);
                        }
                    },

                })
        }
    </script>
</body>